.person img {
  width: 18vw;
  height: 36vw;
  object-fit: contain;
  filter: brightness(0.75);
  transition: 0.2s;
}

.person.active img {
  filter: brightness(1);
}

.active.mute img {
  filter: drop-shadow(0 0 5px #fff);
}

.person {
  position: absolute;
}
